<div class="rule-value-container" ng-if="vm.availableVariables && vm.availableVariables.length > 0">
    <div class="form-inline">
        <div class="input-group">
            <div class="input-group-addon">
                <label>Unassigned variables</label>
            </div>
        </div>
    </div>
</div>
<div class="query-builder">
<dl class="rules-group-container">
    <dd class="rules-group-body">
        <ul class="rules-list">
            <li ng-repeat="variable in vm.availableVariables" class="rule-container">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" id="name{{$index}}" name="name{{$index}}" class="form-control" placeholder="Name" ng-model="variable.name" disabled>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Source
                        </div>
                        <select class="form-control" name="isource" id="source" ng-model="variable.source" ng-options="event.context.indexOf(variable) as variable.source for variable in event.context">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group grow">
                        <input type="text" id="query{{$index}}" name="iquery{{$index}}" class="form-control" placeholder="Xpath" ng-model="variable.query">
                    </div>
                    <div class="form-element">
                        <select class="form-control" name="operator" id="ioperator{{$index}}" ng-options="operator as operator for operator in ['STRING_VALUE', 'STRING_LIST', 'OBJECT_VALUE', 'OBJECT_LIST']" ng-model="variable.operator">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="tooltip-wrapper disabled" uib-tooltip="Select source!" tooltip-enable="!variable.source < 0" tooltip-placement="top">
                            <button type="button" class="btn btn-success" ng-click="addVariable(variable, $index)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </dd>
</dl>
</div>