<div class="modal-header">
    <h5 class="modal-title">Discard event changes</h5>
    <button type="button" class="close" ng-click="close()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="alert alert-warning">
        <p class="m-10">
            If you discard the existing changes, the event will be reset to the last published version.
        </p>
        <p class="m-10">
            Once this action is taken, it cannot be undone.
        </p>
        <p class="m-0">Do you wish to continue?</p>
    </div>
</div>
<div class="modal-footer">
    <a href class="btn btn-primary" ng-click="$ctrl.discard();">
        <i class="fa fa-trash"></i>
        Discard changes
    </a>
    <a href class="btn btn-danger" ng-click="$ctrl.cancel();">Cancel</a>
</div>