<div>
    <div class="card">
        <div class="card-header">
            <h5>
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                    Action 1
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse">
            <div class="card-body">
                Collapsible #1 element
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card">
        <div class="card-header">
            <h5>
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo">
                    Action 1
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse">
            <div class="card-body">
                Collapsible #1 element
            </div>
        </div>
    </div>
</div>