<div class="well context">
    <h4>Data</h4>
    <a class="btn btn-primary new"><span class="glyphicon glyphicon-plus"></span> Add new context</a>
    <div class="query-builder">
        <dl class="rules-group-container">
            <dd class="rules-group-body">
                <ul class="rules-list">
                    <li class="rule-container" ng-repeat="item in dataMapping.context">
                        <div class="rule-value-container">
                            <div class="form-inline">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label>Source</label>
                                    </div>
                                    <select class="form-control" name=""
                                            ng-model="source.source"
                                            ng-options="item as item for item in ['JMS','CAR']"
                                            required>
                                    </select>
                                </div>
                                <div class="input-group" ng-if="source.source == 'CAR'">
                                    <div class="input-group-addon">
                                        <label for="">Outlet Xpath</label>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <a class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a  class="btn btn-primary t-10"
                           ng-show="source.points.length == 0" ng-if="source.source"><i
                                class="glyphicon glyphicon-plus"></i> Add Data</a>

                        <ul class="rules-list">
                            <li class="rule-container" ng-repeat="(key,value) in item.points">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" ng-model="key">
                                    </div>
                                    <div class="form-group grow">
                                        <input type="text" class="form-control" placeholder="Xpath" ng-model="value.query">
                                    </div>
                                    <div class="form-element">
                                        <select class="form-control"  name="" ng-options="type as type for type in ['STRING_VALUE', 'STRING_LIST', 'OBJECT_VALUE', 'OBJECT_LIST']" ng-model="value.value"></select>
                                    </div>
                                    <div class="btn-group pull-right rule-actions">
                                        <a class="btn btn-xs btn-success" ng-if="$last"><i class="glyphicon glyphicon-plus"></i> Add data</a>
                                        <a class="btn btn-danger">Delete</a>
                                    </div>
                                    <!---->
                                    <div class="pt-2" ng-if="value.value === 'OBJECT_LIST'">
                                        <ul class="rules-list">
                                            <li class="rule-container" ng-repeat="(key,value) in value.fields">
                                                <div class="form-inline">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Name" ng-model="key">
                                                    </div>
                                                    <div class="form-group grow">
                                                        <input type="text" class="form-control" placeholder="Xpath" ng-model="value.query">
                                                    </div>
                                                    <div class="form-element">
                                                        <select class="form-control"  name="" ng-options="type as type for type in ['STRING_VALUE', 'STRING_LIST', 'OBJECT_VALUE', 'OBJECT_LIST']" ng-model="value.value"></select>
                                                    </div>
                                                    <div class="btn-group pull-right rule-actions">
                                                        <a class="btn btn-xs btn-success" ng-if="$last"><i class="glyphicon glyphicon-plus"></i> Add data</a>
                                                        <a class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!---->
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>