<div class="well context">
    <h4>Data</h4>
    <a class="btn btn-primary new"><span class="glyphicon glyphicon-plus"></span> Add new context</a>
    <div class="query-builder">
        <dl class="rules-group-container">
            <dd class="rules-group-body">
                <ul class="rules-list">
                    <li class="rule-container" ng-repeat="item in dataMappingCtrl.context">
                        <div class="rule-value-container">
                            <div class="form-inline">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label>Source</label>
                                    </div>
                                    <select class="form-control" name="" ng-model="source.source" ng-options="item as item for item in ['JMS','CAR']"
                                        required>
                                    </select>
                                </div>
                                <div class="input-group" ng-if="source.source == 'CAR'">
                                    <div class="input-group-addon">
                                        <label for="">Outlet Xpath</label>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <a class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary t-10" ng-show="source.points.length == 0" ng-if="source.source">
                            <i class="glyphicon glyphicon-plus"></i> Add Data
                        </a>

                        <mappingobject fields="item.points"></mappingobject>

                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>