<div class="well context">
    <h4>Data</h4>
    <a class="btn btn-primary new"
        ng-click = "dataMappingCtrl.addContext()">
        <span class="fas fa-plus fa-xs"></span> 
        Add new context</a>
    <div class="query-builder">
        <dl class="rules-group-container">
            <dd class="rules-group-body">
                <ul class="rules-list">
                    <li class="rule-container" ng-repeat="item in dataMappingCtrl.context">
                        <div class="rule-value-container">
                            <div class="form-inline">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label>Source</label>
                                    </div>
                                    <select class="form-control" name="" 
                                        ng-model="item.source" 
                                        ng-options="item as item for item in ['JMS','CAR']"
                                        required>
                                    </select>
                                </div>
                                <div class="input-group" ng-if="item.source == 'CAR'">
                                    <div class="input-group-addon">
                                        <label for="">Outlet Xpath</label>
                                    </div>
                                    <input type="text" class="form-control" ng-model="item.outlet">
                                </div>
                                <div class="input-group">
                                    <a class="btn btn-danger"
                                        ng-click="dataMappingCtrl.removeMapping($index)">
                                        <span class="fa fa-trash"></span>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>

                        <mappingobject fields="item.points"></mappingobject>

                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>