<div class="query-builder form-inline">
    <div class="fill" ng-switch="group || '_undefined_'">
        <span ng-switch-when="_undefined_">
            <source model="event.definition" template="views/components/actions-source.html" name="xpath" category="definition"></source>
        </span>
        <span ng-switch-when="point">
            <source model="event['key']" template="views/components/points-key.html" name="query" type="key"></source>
        </span>
        <span ng-switch-when="trigger">
            <span class="title block">Conditions</span>
            <source model="event[model][index][group]" template="views/components/actions-source.html" type="actions" category="action"></source>
        </span>
        <span ng-switch-when="documentTrigger">
            <span class="title block">Conditions</span>
            <a ng-click="addConditions(event['actions'][parentIndex][model][index])" class="btn btn-primary" ng-show="!event['actions'][parentIndex][model][index]['trigger'][rules] || event['actions'][parentIndex][model][index]['trigger'][rules].length == 0"><i class="glyphicon glyphicon-plus"></i> Add condition</a>
            <source ng-if="event['actions'][parentIndex][model][index]['trigger']" model="event['actions'][parentIndex][model][index]" template="views/components/actions-source.html" type="attachments" category="attachment"></source>
        </span>
        <span ng-switch-default>
            <a ng-click="addRule(event[model][group])" class="btn btn-primary" ng-show="!event[model][rules] || event[model][rules].length == 0"><i class="glyphicon glyphicon-plus"></i> Add condition</a>
            <source model="event[model][group]"></source>
        </span>
    </div>
</div>