<a ui-sref="event({source:true, actions: false, mapping: false})">DEFINITION</a>
<a ui-sref="event({source:false, actions: true, mapping: false})">ACTIONS</a>
<a ui-sref="event({source:false, actions: false, mapping: true})">DATA MAPPING</a>

<br>


<br>
<form novalidation class="eventForm" name="eventForm" ng-submit="editEvent($event)">

    <div ng-if="eventController.state.source === 'true'">
        event source
    </div>
    <div ng-if="eventController.state.actions === 'true'">
        <actions actions="eventController.event.actions" templates = eventController.templates  ></actions>
    </div>
    <div ng-if="eventController.state.mapping  === 'true'">
        event mapping
    </div>
</form>