
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{event.item.name }}</h4>
        <span class="badge badge-warning"
        >PENDING CHANGES</span>
        <div>C02</div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio">
        </div>
        <span>Update: </span>
        <a ui-sref="definition">DEFINITION</a>
        <a ui-sref="actions">ACTIONS</a>
        <a ui-sref="data-mapping">DATA MAPPING</a>
    </div>
</div>
