<div class="well bottom-fix">

    <div class="query-builder form-inline">
        <div class="fill">
            <h4>Notification ID</h4>

            <dl class="rules-group-container">

                <dt class="rules-group-header">
                    <div class="rule-actions">

                        <a class="btn btn-primary new"
                            ng-click ="notificationIdCtrl.addEmptyRule()">
                            <span class="fas fa-plus fa-xs"></span> Add data
                        </a>
                    </div>

                </dt>


                <dd class="rules-group-body">
                    <ul class="rules-list">
                        <li class="rule-container" ng-repeat="source in notificationIdCtrl.key">
                            <div class="btn-group pull-right rule-actions">
                                <a class="btn btn-xs btn-danger" ng-click=notificationIdCtrl.remove($index)>
                                    <span class="fa fa-trash fa-xs"></span> Delete
                                </a>
                            </div>
                            <div class="form-inline">
                                <div class="form-group grow">
                                    <input type="text" class="form-control" placeholder="Xpath" ng-model="source.point[0].query"
                                        required>
                                </div>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>