<div class="upload-file">
    <form name="uploadForm" id="uploadForm" novalidation ng-submit="upload.save();">
        <div class="input-group new bottom-fix" ng-if="!upload.success">
        <i class="icon fa fa-file-code-o"></i>
        <input type="text" class="form-control" placeholder="Attachment name" ng-model="upload.displayedName"
               required>
    </div>
        <div
                ngf-drop="upload.dropped($file);"
                ngf-select="upload.dropped($file);"
                ng-model="upload.newFile"
                class="dropzone"
                ngf-multiple="false"
                ngf-pattern="'.pdf'"
                ngf-accept="'application/pdf'"
                ngf-model-invalid="invalidFiles"
                ng-class="{'danger' : invalidFiles}"
                ng-if="!upload.success">
            <div class="info">
                <div class="icon">
                    <i class="fa fa-upload"></i>
                </div>
                <div class="description">
                    <p class="hint">
                        <strong>
                            Drop file here or <a href class="browse">click to browse</a>
                        </strong>
                    </p>
                    <p class="hint">
                        Supported file type(s): {{upload.formats}}
                    </p>
                </div>
            </div>
            <div class="error" ng-if="invalidFiles">
                Invalid file selected. Please choose a different file.
            </div>
        </div>
        <file
                data-ng-if="upload.file && upload.file.fileName && !upload.newFile"
                data-file="upload.file"
                data-class="upload.status.type || 'info'"
                data-options="{progressBar: false, size: false, showExtension: true, extension: 'pdf', remove: false}"
                data-status="upload.status">
        </file>
        <file
                data-ng-if="upload.newFile"
                data-file="upload.newFile"
                data-success="upload.newFile.success"
                data-class="upload.status.type"
                data-options="{progressBar: true, size: true, showExtension: true, extension: 'pdf', remove: true}"
                data-status="upload.status"
                data-remove="upload.remove();">
        </file>
        <div class="actions">
            <button type="submit" class="btn btn-primary" ng-disabled="uploadForm.$invalid || (!upload.file && !upload.newFile)" ng-class="{'disabled': uploadForm.$invalid || (!upload.file && !upload.newFile)}" ng-if="!upload.status.type">
                <i class="fa fa-save"></i>
                Save
            </button>
            <button type="button" class="btn btn-primary" ng-click="upload.dismiss();" ng-if="upload.status.type === 'success'">
                <i class="fa fa-close"></i>
                Close
            </button>
        </div>
    </form>
</div>