<ul class="rules-list">
        <a class="btn btn-primary " 
            ng-show="mappingCtrl.fields.length <=0 " 
            ng-click = "mappingCtrl.addNewData(mappingCtrl.fields)">
            <i class="glyphicon glyphicon-plus"></i> Add Data
        </a>
    <li class="rule-container" ng-repeat="item in mappingCtrl.fields">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" ng-model="item.name">
            </div>
            <div class="form-group grow">
                <input type="text" class="form-control" placeholder="Xpath" ng-model="item.query">
            </div>
            <div class="form-element">
                <select class="form-control" name="" ng-options="type as type for type in ['STRING_VALUE', 'STRING_LIST', 'OBJECT_VALUE', 'OBJECT_LIST']"
                    ng-model="item.value"></select>
            </div>
            <div class="btn-group pull-right rule-actions">
                <a class="btn btn-danger " ng-click="mappingCtrl.removeMappingObject($index)">
                    <span class="fa fa-trash"></span>
                </a>
                <a class="btn btn-xs btn-success ml-2" 
                    ng-click = "mappingCtrl.addNewData(mappingCtrl.fields)"
                    ng-if="$last">
                    <span class="fas fa-plus fa-xs"></span> 
                    Add 
                </a>
 
            </div>
            <div ng-if="item.value === 'OBJECT_LIST'">
                <mappingobject fields="item.fields"></mappingobject>
                <div ng-if ="item.sort"> 
                   <sortable sortby = "item.sort" fields="item.fields" ></sortable>
                </div>
            </div>
    </li>
</ul>